<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lsy.learn.security.mapper.RoleMenuMapper">

    
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.lsy.learn.security.model.RoleMenu">
         <id column="id" property="id " jdbcType="INTEGER"/>
         <result column="role_id" property="roleId" jdbcType="INTEGER"/>
         <result column="menu_id" property="menuId" jdbcType="INTEGER"/>
         <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP"/>
         <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP"/>
     </resultMap>
</mapper>
